<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>GEMP</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
   
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeController</display-name>
    <servlet-name>EmployeController</servlet-name>
    <servlet-class>servlet.EmployeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeController</servlet-name>
    <url-pattern>/EmployeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmpController</display-name>
    <servlet-name>AddEmpController</servlet-name>
    <servlet-class>servlet.AddEmpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmpController</servlet-name>
    <url-pattern>/AddEmpController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DeleteController</display-name>
    <servlet-name>DeleteController</servlet-name>
    <servlet-class>servlet.DeleteController</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteController</servlet-name>
    <url-pattern>/DeleteController</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>UpdateEmpController</servlet-name>
  <servlet-class>servlet.UpdateEmpController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UpdateEmpController</servlet-name>
  <url-pattern>/UpdateEmpController</url-pattern>
  </servlet-mapping>
</web-app>